body {
    margin: 0;
    padding: 0;
    background-color: rgb(128, 240, 255);
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
}

.main-title {
    font-family: 'Metal Mania';
    font-size: 80px;
    color: rgb(0, 132, 255);
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 15px rgba(0,0,0,0.5);
}

.game-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
.game-box {
    width: 400px;
    height: 400px;
    border: 1px solid #999;
    display: flex;

    position: relative;
}
.enemy.blocked::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 15;
    background-color: rgba(255,255,255, .7);
}
.enemy.blocked .cell{
    cursor: default;
}

.enemy .cell {
    cursor: pointer;
}
.cell {
    width: 38px;
    height: 38px;
    border: 1px solid #ccc;
}
.cell.ship {
    background-color: rgb(247, 157, 83);
}

.cell.missed {
    position: relative;
    cursor: default;
}
.cell.missed::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: #000;

    border-radius: 50%;
    transform: translateY(-4px) translateX(-4px);
}

.cell.exploded {
    position: relative;
    cursor: default;
}
.cell.exploded::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 53px;
    height: 2px;
    background-color: red;
    transform-origin: left;
    transform: rotate(45deg);
}
.cell.exploded::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 53px;
    height: 2px;
    background-color: red;
    transform-origin: left;
    transform: rotate(-45deg);
}
.cell.hide {
    position: relative;
}
.cell.hide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgb(124, 199, 209); */
    z-index: 10;
}
.letters-col {
    position: absolute;
    top: -40px;
    left: 0;
    display: flex;
}
.numbers-row {
    position: absolute;
    top: 0;
    left: -40px;
}

.letters-col__item,
.numbers-row__item {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}